spring:
  application:
    name: hhplus
  profiles:
    active: local
  datasource:
    name: HangHaePlusDataSource
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 3
      connection-timeout: 10000
      max-lifetime: 60000
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.timezone.default_storage: NORMALIZE_UTC
      hibernate.jdbc.time_zone: UTC
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000
  # Redis 연결 설정
  data:
    redis:
      host: localhost
      port: 6379
      password:  # 비밀번호 없으면 생략
      database: 0  # DB 인덱스 (기본값: 0)
      timeout: 2000ms  # 커넥션 타임아웃

      # Lettuce (기본 클라이언트) 설정
      lettuce:
        pool:
          max-active: 10  # 최대 활성 커넥션 수
          max-idle: 10    # 최대 유휴 커넥션 수
          min-idle: 2     # 최소 유휴 커넥션 수
          max-wait: 3000ms  # 커넥션 대기 시간
        shutdown-timeout: 100ms  # 종료 대기 시간

  # 캐시 설정 (선택사항)
  cache:
    type: redis
    redis:
      time-to-live: 600000  # 기본 TTL (10분, 밀리초)
      cache-null-values: false  # null 값 캐시 여부
      key-prefix: "cache:"  # 캐시 키 접두사 (선택)
      use-key-prefix: true  # 접두사 사용 여부
---
spring.config.activate.on-profile: local

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hhplus?characterEncoding=UTF-8&serverTimezone=UTC
    username: application
    password: application
  jpa:
    show-sql: true  # 개발 시 쿼리 확인
    properties:
      hibernate:
        format_sql: true